html {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}


li {
  color: white!;
}

.container {
  display: flex;
}

li {
  list-style: none;
}